<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %> 
</head>

<body>

  <%- include('./components/nav') %> 
      
      <section id="cadastro">


        <img src="/img/pokedex.png" alt="Pokedex">

        <div>
         
            <h2>Cadastre um novo Pokemon</h2>
    
            <form action="/create" method="post">
    
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" >
    
              <label for="descricao">Descrição:</label>
              <input type="text" id="descricao" name="descricao" required>
    
              <label for="tipo">Tipo:</label>
              <input type="text" id="tipo" name="tipo" required>
    
              <label for="imagem">Link da Imagem</label>
              <input type="text" id="imagem" name="imagem" required>
    
              <label for="peso">Peso:</label>
              <input type="text" id="peso" name="peso" required>
    
              <label for="altura">Altura:</label>
              <input type="text" id="altura" name="altura" required>
    
              <label for="categoria">Categoria:</label>
              <input type="text" id="categoria" name="categoria" required>
    
              <label for="habilidade">Habilidade:</label>
              <input type="text" id="habilidade" name="habilidade" required>
    
              <button id="buttoncadastrar" type="submit" onclick="alerta()">Cadastrar</button>
              
            </form>
        </div>

        </section>
      
    <%- include('./components/footer') %> 

  </body>
</html>
